@import 'mixins';
@import 'smart-grid';

.about {
    @include padding();

    .title-primary {
        margin-bottom: 100px;
    }

    .content {
        position: relative;

        @include sm-block {
            padding-top: 200px;
        }

        .a, .b {
            background: #F5F5F7;
            border-radius: 32px;
            padding: 25px 20px;
            width: 450px;
            position: absolute;
            z-index: 10;

            max-width: 100%;

            @include sm-block {
                width: 240px;
            }

            .mark {
                background: #07070C;
                border-radius: 6px;
                padding: 10px 15px;

                display: inline-flex;
                align-items: center;
                color: #fff;
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 20px;

                @include sm-block {
                    font-size: 14px;
                    padding: 6px 8px;
                }

                .icon {
                    display: inline-block;
                    margin-right: 10px;

                    img {
                        vertical-align: bottom;
                    }
                }
            }

            h3 {
                font-size: 48px;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: 0em;
                text-align: left;
                color: #C2C2C2;
                margin-bottom: 30px;

                @include sm-block {
                    font-size: 20px;
                    line-height: 23px;
                    margin-bottom: 15px;
                }
            }

            p {
                color: #000;
                line-height: 1.2;
                font-size: 20px;

                @include sm-block {
                    font-size: 13px;
                }

                b {
                    font-weight: bold;
                }
            }

            .with_icon {
                font-weight: bold;
                margin-left: 5px;

                img {
                    display: inline-block;
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }
        }

        .lines {
            width: 600px;
            position: relative;
            left: 100px;
            max-width: 100%;

            @include sm-block {
                left: 0;

                display: flex;
                justify-content: flex-end;
            }
        }

        .a {
            bottom: 120px;
            left: -100px;

            @include sm-block {
                bottom: auto;
                left: auto;
                right: 0;
                top: -25px;
            }
        }

        .b {
            top: -30px;
            right: -30px;

            @include sm-block {
                top: auto;
                right: auto;
                left: -10px;
                bottom: 50px;
            }
        }
    }
}

.media_block {
    .video {
        position: relative;

        &:hover .button_pause {
            opacity: .9;
            transform: translate(-50%, -50%) scale(1);
        }

        video {
            border-radius: 18px;
            display: block;
            width: 100%;
        }

        .video-hitarea {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 5;
            cursor: pointer;
            background: transparent;

            &.has-controls {
                bottom: 52px;
            }
        }

        button {
            position: absolute;

            &.hide {
                display: none;
            }

            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: none;
            background: transparent;
            z-index: 10;
            cursor: pointer;

            svg {
                width: 100px;

                @include sm-block {
                    width: 50px;
                }

                path {
                    fill: rgba(0, 0, 0, 1);
                    backdrop-filter: blur(3px);
                }
            }

            transition: all 300ms ease;
        }
    }
}

.audience {
    @include padding();

    .row {
        justify-content: space-between;
    }

    .item {
        @include col();
        @include size(12);
        @include size-sm(24);

        display: flex;
        align-items: center;
        background: #07070C;
        border-radius: 18px;
        padding: 0 20px;

        @include sm-block {
            margin-bottom: 15px;
            padding: 20px;
        }

        .icon {
            font-size: 98px;
            font-weight: 700;
            line-height: 153px;
            letter-spacing: 0em;
            color: #fff;
            flex-shrink: 0;
            margin-right: 20px;

            @include sm-block {
                font-size: 64px;
                line-height: 76px;
            }
        }

        h3 {
            font-size: 36px;
            font-weight: 400;
            line-height: 43px;
            letter-spacing: 0em;
            text-align: left;
            color: #fff;

            @include sm-block {
                font-size: 16px;
                line-height: 1.4;
            }

            span {
                display: inline-block;
                position: relative;
        
                &::before {
                    content: '';
                    background: linear-gradient(90deg, #90F95E -1.09%, #4BD635 100%);
                    height: 2px;
                    border-radius: 18px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}

.main_cases {
    @include padding();

    .item {
        @include col();
        @include size(8);
        @include size-sm(12);
        @include size-xs(24);

        background-color: #fff;
        border: 1px solid #07070C;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 60px;
        display: block;
        transition: all 300ms ease;
        box-shadow: 0 0 15px rgba(0, 0, 0, .1);

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 15px rgba(0, 0, 0, .25);
        }

        .case_img {
            height: 188px;
            border-radius: 20px;
            background-size: cover;
            background-position: center center;
            margin-bottom: 30px;
        }

        h3 {
            font-size: 30px;
            font-weight: 500;
            line-height: 1.4;
            color: #07070C;
            margin-bottom: 15px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: #5D5D5D;
            margin: 5px 0;
        }

        .icon_down {
            img {
                vertical-align: middle;
            }
        }

        .case_btn {
            margin-top: 15px;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #07070C;
                border-radius: 20px;
                width: 100%;
                padding: 14px 24px;
                text-align: center;

                font-family: "Poppins";
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 0px;
                text-align: center;
                color: #07070C;
                background-color: #fff;
                cursor: pointer;

                img {
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
    }
}

.how_we_work {
    @include padding();

    .title-primary {
        margin-bottom: 20px;
    }

    h4 {
        font-family: SF Pro Display;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #000;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card {
        background: #F5F5F7;
        border-radius: 18px;
        padding: 25px;
        width: 35%;
        display: flex;

        @include sm-block {
            width: 45%;
            flex-direction: column;
            padding: 15px;
        }

        .left {
            width: 45%;
            flex-shrink: 0;
            
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding-right: 10px;
            margin-right: auto;

            @include sm-block {
                width: 100%;
                padding-right: 0;
            }

            h3 {
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                color: #07070C;
                margin-bottom: 30px;

                @include sm-block {
                    font-size: 14px;
                    line-height: 1.2;

                }
            }

            .num {
                font-size: 96px;
                font-weight: 400;
                line-height: 79px;
                color: #5D5D5D;

                @include sm-block {
                    color: #D9D9D9;
                    font-size: 64px;

                }
            }
        }

        .card_img {
            height: 80px;
            transform: translateY(-30px);
        }
    }

    .month2 {
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        margin: 50px 0;
        color: #5D5D5D;

        @include sm-block {
            margin: 30px 0;
        }
    }

    .content {
        position: relative;
    }

    .circle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

.reviews {
    @include padding();
    overflow: hidden;

    .swiper-slide {
        background-color: #fff;
        border-radius: 18px;
    }

    .swiper-3d .swiper-slide-shadow {
        background-color: unset;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after,
    .swiper-button-prev:after, 
    .swiper-rtl .swiper-button-next:after {
        content: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color_primary;
        border-radius: 50%;
        user-select: none;
    }

    .swiper {
        overflow: visible;
        padding-bottom: 3px;

        @include sm-block {
            margin: 0 30px;
        }
    }
    .swiper-wrapper {
        align-items: center;
    }

    .swiper-slide {
        opacity: 0.5;
        transition: all 300ms ease;
    }

    .swiper-slide-active {
        opacity: 1;
    }

    .item {
        padding: 40px 130px;
        border: 1px solid #5D5D5D;
        background-color: #fff;
        border-radius: 18px;
        user-select: none;

        @include sm-block {
            padding: 30px;
        }

        p {
            width: 835px;
            max-width: 100%;
            font-size: 25px;
            font-weight: 200;
            line-height: 1.3;
            margin-bottom: 50px;
            letter-spacing: .3px;
            text-align: center;
            color: #5D5D5D;

            @include sm-block {
                font-size: 14px;
            }
        }

        .author {
            width: 200px;
            margin: 0 auto;
            display: flex;
            align-items: center;

            .pic {
                width: 56px;
                height: 56px;

                border-radius: 50%;

                background-size: cover;
                background-position: center center;
                margin-right: 10px;
            }

            div {
                flex-shrink: 0;
            }

            h3 {
                font-size: 20px;
                font-weight: bold;
            }

            h5 {
                font-size: 14px;
            }
        }
    }
}

.our_cases {
    @include padding();

    .item {
        display: flex;
        margin-bottom: 50px;
        
        @include sm-block {
            display: block;
        }

        .item_image {
            background-position: center;
            background-size: cover;
            border-radius: 24px;
            width: 450px;
            height: 100%;
            flex-shrink: 0;
            margin-right: 25px;

            @include sm-block {
                width: 100%;
                margin-bottom: 15px;
            }
        }

        .item_content {
            padding: 5px 0;

            .item_title {
                font-size: 38px;
                font-weight: 700;
                margin-bottom: 25px;

                @include sm-block {
                    font-size: 26px;
                }
            }

            h5 {
                font-weight: bold;
                margin-bottom: 15px;
                font-size: 16px;
            }

            p {
                margin-bottom: 10px;
                font-size: 16px;
                line-height: 1.4;
            }
        }
    }
}

.case_results {
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;

        @include sm-block {
            display: block;
        }
    }

    .item {
        display: flex;
        align-items: center;
        height: 100px;
        background: #07070C;
        border-radius: 16px;
        padding: 0 40px;
        margin: 0 30px;

        @include sm-block {
            margin: 0;
            margin-bottom: 30px;

            justify-content: flex-start;
            padding: 0 20px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            color: #fff;
            margin-right: 20px;

            @include sm-block {
                font-size: 14px;
            }
        }

        h4 {
            color: #90F95E;
            font-size: 48px;
            font-weight: bold;
            line-height: 57px;
            letter-spacing: 0em;

            @include sm-block {
                font-size: 36px;
            }
        }
    }
}

.consult_form {
    margin: 300px 0;

    @include sm-block {
        margin: 150px 0;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        label.input {
            display: block;
            position: relative;
            height: 50px;
            margin-bottom: 10px;

            @include sm-block {
                height: 60px;
            }

            &.with_height {
                height: 200px;

                @include sm-block {
                    height: 130px;
                }
            }

            &.half {
                width: calc(50% - 5px);

                @include sm-block {
                    width: 100%;
                }
            }

            &.full {
                width: 100%;
            }
    
            p {
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 5;
                font-size: 18px;
                color: #5D5D5D;
                z-index: 10;
                padding: 0 5px;
                line-height: 1;
                transition: left 300ms ease, top 300ms ease, color 300ms ease, font-size 300ms ease;
            }

            span {
                color: $color_primary;
            }
    
            input {
              width: 100%;
              height: 100%;
              position: relative;
              z-index: 10;
              appearance: none;
              border: none;
              background: #F5F5F7;
              padding-left: 20px;
              border-radius: 8px;
              color: #5D5D5D;
              transition: border-color 300ms ease;

            }
    
            textarea {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 10;
                appearance: none;
                border: none;
                background: #F5F5F7;
                border-bottom: 1px solid #fff;
                padding-left: 15px;
                color: #5D5D5D;
                resize: none;
                padding-top: 15px;
                padding-left: 25px;
        
                &::placeholder {
                    font-size: 18px;
                    color: #5D5D5D;
                }
            }
    
            &:focus-within p {
              top: 0;
              left: 15px;
              font-size: 12px;
            }
    
            &.focused p,
            &.filled p {
              transition: none;
              top: 0;
              left: 15px;
              font-size: 12px;
            }
        }

        .btn {
            text-align: center;
            width: 100%;

            button {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                padding: 1rem;
                color: #1E1E1E;
                background-color: $color_primary;
                font-size: 16px;
                font-weight: 400;
                border-radius: 8px;
                border: none;
                cursor: pointer;
                font-weight: bold;
            
                @include sm-block {
                    font-size: 18px;
                }
    
                .inner {
                    position: relative;
                }
    
                .loader {
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    width: 15px;
                    margin-left: 5px;
                    transform: translateY(-50%);
                    opacity: 0;
                    transition: opacity 300ms ease;
    
                    svg path,
                    svg rect{
                        fill: #000;
                    }
                }
            }
        }
    }
}

footer {
    padding: 50px 0;
    background-color: #07070C;

    .logo {
        width: 150px;
        margin-right: auto;
        margin-bottom: 40px;

        @include sm-block {
            width: 120px;
        }
    }

    .footer_flex {
        display: flex;
        justify-content: space-between;
    }

    .footer_menu {
        @include sm-block {
            margin: 50px 0;
        }

        ul {
            display: flex;
            align-items: center;

            @include sm-block {
                justify-content: space-around;
            }

            li {
                margin-right: 45px;

                @include sm-block {
                    margin-right: 0;
                }
            }

            a {
                display: inline-block;
                color: #fff;
                font-size: 18px;

                @include sm-block {
                    font-size: 15px;
                }

                &.active-link {
                    color: $color_primary;
                    position: relative;

                    @include sm-block {
                        color: white;
                    }

                    &::before {
                        content: '';

                        display: inline-block;
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        background-color: $color_primary;
                        bottom: -5px;
                        left: 0;

                        @include sm-block {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .footer_action {
        margin-bottom: 40px;
        text-align: right;
    }

    .footer_socials {
        display: flex;
        align-items: center;

        @include sm-block {
            justify-content: center;   
            margin-top: 100px;
        }

        a {
            display: inline-flex;
            width: 33px;
            height: 33px;
            background-color: $color_primary;
            border-radius: 50%;
            margin-left: 20px;

            @include sm-block {
                margin: 0 10px;
            }

            align-items: center;
            justify-content: center;


            img {
                vertical-align: bottom;
                width: 60%;
            }
        }
    }

    .copyright {
        margin-top: 150px;
        color: #F5F5F7;

        @include sm-block {
            margin-top: 50px;
            font-size: 15px;
        }
    }
}

.alert {
    position: fixed;
    left: 50%;
    top: 50%;
    background: #000;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .05);
    padding: 15px;
    width: 350px;
    max-width: 90%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 600ms ease;
    overflow: hidden;
    z-index: 100;
    opacity: 0;

    .line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #4BD635;
    }

    @keyframes alert_line {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }
}

.alert.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  .line {
    animation: alert_line 5000ms linear 1  forwards;
  }
}