@import './smart-grid';

@mixin padding {
    padding: 80px 0;

    @include md-block {
        padding: 60px 30px;
    }

    @include sm-block {
        padding: 40px 0;
    }
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin padding-top {
    padding-top: 100px;

    @include md-block {
        padding-top: 80px;
    }

    @include sm-block {
        padding-top: 60px;
    }
}

@mixin pulse($pulse, $width, $id) {
    animation: pulse-#{$id} 2s linear infinite;


    @keyframes pulse-#{$id} {
        0% {
            box-shadow: 0 0 0 0 rgba($pulse, .8);
        }

        40% {
            box-shadow: 0 0 0px #{$width / 2}px rgba($pulse, .5);

        }

        80% {
            box-shadow: 0 0 3px #{$width}px rgba($pulse, 0);

        }

        100% {
            box-shadow: 0 0 0 0 rgba($pulse, 0);
        }
    }
}